# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
env/
venv/
*.env

# Django specific
*.log
*.pot
media/
static/
local_settings.py
db.sqlite3

# VS Code
.vscode/

# OS or Editor-specific files
.DS_Store
Thumbs.db
